{% extends "./base/base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </style>
{% endblock %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div class="path-contentiner">
        <button class="back-button">&#8592;</button>
        <div id="path-form">
            <input id="path" placeholder="Путь" style="padding-left: 5px;" value="{{ path }}">
            <button type="submit">
                Отправить
            </button>
        </div>
    </div>
    {% if error_message == ''  %}
    <div id="drop-zone" class="items">
            {% for file_folder in page_obj %}
                <div class="item" id_file="{{file_folder.is_file}}" id_file_folder="{{ file_folder.IDFileFolder.id }}" draggable="True">
                    <div class="image-container">
                        <img draggable="false"
                        {% if file_folder.is_file %}
                        src="{% static 'images/file-icon.svg' %}"
                        {% else %}
                        src="{% static 'images/folder-icon.svg' %}"
                        {% endif %}
                        />
                    </div>
                    <div class="title-container">
                        <input id="fileTitle" class="file-input" readonly type="text" maxlength="150" value="{{ file_folder.Title }}">
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <form method="POST" class="form-support" id="form-file-create" action="{% url 'file-create' %}" enctype="multipart/form-data" readonly>
            {% csrf_token %}
            {{ file_form }}
        </form>
        
        <form method="POST" class="form-support"  id="form-folder-create" action="{% url 'folder-create' %}">
            {% csrf_token %}
            {{ folder_form }}
        </form>
        
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        
        {% include 'components/context_menu_item.html' %}
        {% include 'components/context_menu_parent_items.html' %}
        
    {% else %}
        <h2>{{error_message}}</h2>
    {% endif %}
        
        {% endblock %}  

{% block js %}
{% if error_message == ''  %}
    <script type="module" src="{% static 'js/main.js' %}"></script>
{% endif %}
    <script type="module" src="{% static 'js/path.js' %}"></script>
{% endblock %}
