body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.step-links a 
{
    color: black !important;
    margin:0 5px ;
}

a 
{
    color: #fff;
    text-decoration: none;
}

header {
    width: 100%;
    height: 10%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 
{
    margin-left: 10px;
}

.navigation {
    width: 15%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation form 
{
    margin: 0;
}

.content-conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: #f4f4f4;
    margin: 0;
}

.content {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 97%;
    height: 94%;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}