<style>
.context_menu_item {
      position: absolute;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      display: none;
      z-index: 100;
      text-align: center;
      cursor: pointer;
      width: 100px;
      height: auto;
    }

    .item_context_menu
    {
      margin: 0 !important;
      width: 100%;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: start;
    }

    .item_context_menu:hover {
      background-color: #f0f0f0;
    }

    .context_menu_item button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      font: inherit;
      margin-left: 5px;
    }
</style>

<div id="context_menu_item" class="context_menu_item">
  <form id="context_menu_button_item" method="POSt" name="delete" action="/file_folder/#id/delete" class="item_context_menu">
    {% csrf_token %}
    <button type="submit">Удалить</button>
  </form>

  <form id="context_menu_button_item" method="GET" name="download" action="/download/#id" class="item_context_menu">
    {% csrf_token %}
    <button type="submit">Скачать</button>
  </form>
  
  <form id="context_menu_button_item" method="POST" name="change" action="/update/#id" class="item_context_menu" >
    {% csrf_token %}
    <button type="submit">Изменить</button>
  </div>
</div>